@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/gilroy/gilroysemibold.woff2") format("woff2"),
  url("../../fonts/gilroy/gilroysemibold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/gilroy/gilroymedium.woff2") format("woff2"),
  url("../../fonts/gilroy/gilroymedium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: normal;
  font-display: swap;
  src: url("../../fonts/gilroy/gilroyregular.woff2") format("woff2"),
  url("../../fonts/gilroy/gilroyregular.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/gilroy/gilroybold.woff2") format("woff2"),
  url("../../fonts/gilroy/gilroybold.woff") format("woff");
}

